<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"
  	throwConfigExceptions="true">
    <extensions>
      <add assembly="SirCoPOS.Server.Common"/>
    </extensions>
    <variable name="logDirectory" value="C:\Logs"/>
    <targets>
      <!--<target name="database" xsi:type="Database" 
              connectionStringName="LogsConnectionString" 
              commandType="StoredProcedure" commandText="[dbo].[AddError]">
        <parameter name="@application" layout="appName" />
        <parameter name="@exception" layout="${exception:tostring}" />
      </target>-->
      <target xsi:type="File" name="file" layout="${longdate}|${logger}|${message}" maxArchiveFiles="15" archiveFileName="${logDirectory}\archive.{#}.txt"
        archiveEvery="Day" fileName="${logDirectory}\current.txt" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" encoding="utf-8">        
      </target>
      <!--<target xsi:type="File"
              name="f1"              
              maxArchiveFiles="15"
              archiveFileName="${logDirectory}\1archive.{#}.xml"
              archiveEvery="Day"
              fileName="C:\Logs\1current.xml"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd"
              encoding="utf-8" >
        <layout xsi:type="XmlLayout" includeAllProperties="true" elementName="logevent">
            <attribute name="time" layout="${longdate}" />
            <attribute name="logger" layout="${logger}"/>
            <element name="message" value="${message}" Encode="false" />
        </layout>
      </target>-->
      <!--<target xsi:type="File"
              name="f2"
              maxArchiveFiles="15"
              archiveFileName="C:\Logs\2archive.{#}.json"
              archiveEvery="Day"
              fileName="C:\Logs\2current.json"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd"
              encoding="utf-8">
        <layout xsi:type="JsonLayout" includeAllProperties="true">
            <attribute name="time" layout="${longdate}" />
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" value="${message}" />
        </layout>      
      </target>-->
      <target name="db" xsi:type="Database" connectionStringName="SirCoLogs"
        commandText="INSERT INTO [dbo].[Message]([Date], [Action], [Data], [GID], [IsRequest], [UserId], [Sucursal], [Machine]) VALUES(GETDATE(), @action, @data, @gid, @isrequest, @userid, @sucursal, @machine)">
        <parameter name="@data" layout="${message}"/>
        <parameter name="@gid" layout="${activityid}"/>
        <parameter name="@isrequest" layout="${custom:mode=isrequest}"/>
        <parameter name="@action" layout="${custom:mode=action}"/>
        <parameter name="@userid" layout="${custom:mode=userid}"/>
        <parameter name="@sucursal" layout="${custom:mode=sucursal}"/>
        <parameter name="@machine" layout="${custom:mode=machine}"/>
      </target>
    </targets>
    <rules>
      <logger name="System.ServiceModel.MessageLogging" writeTo="file,db"/>
      <!--<logger name="*" writeTo="file,db" />-->
      <!--<logger name="System.ServiceModel.MessageLogging" writeTo="file,db" />-->
      <!--<logger name="System.ServiceModel" minlevel="Trace" writeTo="f2" />-->
    </rules>
  </nlog>
  <connectionStrings>
    <!--add name="SirCoImg" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoImg;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoLogs" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoLogs;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCo" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCo;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoPV" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoPV;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoNomina" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoNomina;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoAPP" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoAPP;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoControl" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoControl;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoCredito" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoCredito;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SirCoPOS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SirCoPOS;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

    <add name="SirCoImg" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoImg;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoLogs" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoLogs;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoPruebas" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoPruebas;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoPvPruebas" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoPvPruebas;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoNomina" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoNomina;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoAPP" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoAPP;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoControl" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoControl;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoCredito" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoCredito;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient" />
    <add name="SirCoPOS" connectionString="Data Source=10.10.1.1;Initial Catalog=SirCoPOS;User ID=sa;Password=T0rre0nmx;MultipleActiveResultSets=True;Application Name=SirCoPOS" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
          <add name="nlog"/>            
        </listeners>
      </source>
      <source propagateActivity="false" name="System.ServiceModel" switchValue="Error,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
          <add name="nlog"/>            
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="NLog.NLogTraceListener, NLog" name="nlog"/>        
      <add initializeData="C:\Logs\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\Logs\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true" useGlobalLock="false"/>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false">
        <filters>
          <add xmlns:s="http://schemas.xmlsoap.org/soap/envelope/" xmlns:a="http://schemas.microsoft.com/ws/2005/05/addressing/none">
            /s:Envelope/s:Header/a:Action[starts-with(text(),'http://tempuri.org/IProcessService/')]
          </add>
        </filters>
      </messageLogging>
      <!--<endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />-->
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="logErrorMessages" type="SirCoPOS.Server.Common.Extensions.LogFaultBehaviorExtensionElement, SirCoPOS.Server.Common"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="SirCoPOS.Services.AdminService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.IAdminService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/AdminService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SirCoPOS.Services.SyncService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.ISyncService" bindingConfiguration="stream">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/SyncService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SirCoPOS.Services.PrintService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.IPrintService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/PrintService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SirCoPOS.Services.CommonService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.ICommonService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/CommonService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SirCoPOS.Services.DataService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.IDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/DataService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SirCoPOS.Services.ProcessService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.IProcessService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/ProcessService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SirCoPOS.Services.NoteService">
        <endpoint address="" binding="basicHttpBinding" contract="SirCoPOS.Common.ServiceContracts.INoteService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SirCoPOS.Services/NoteService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="stream" transferMode="Streamed"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <logErrorMessages />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.pipe://localhost/LocalService" binding="netNamedPipeBinding" contract="SirCoPOS.Common.ServiceContracts.ILocalService"></endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>