<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>

      <basicHttpBinding>
        <binding name="stream" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824"
          transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </assemblyBinding>
  </runtime>
</configuration>